<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>

<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.4.8/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<body>


<div id="app">

    姓名：<el-input v-model="inName" placeholder="请输入姓名" style="width: auto"@keyup.enter.native="addInfo"  clearable  vaule="123456"></el-input>
    年龄：<el-input v-model="inAge" placeholder="请输入年龄" @keydown.enter.native="addInfo" style="width: auto" clearable></el-input>
    性别：<el-input v-model="inSex" placeholder="请输入性别后回车" @keydown.enter.native="addInfo" style="width: auto" clearable></el-input>
    <el-button style="width: auto" @click="addInfo" >添加</el-button> &nbsp;&nbsp;
    搜索关键字：<el-input v-model="inSearch" placeholder="请输入姓名" style="width: auto" clearable @keydown.enter.native="keySearch()" prefix-icon="el-icon-search"></el-input>
    <p></p>

    <template>
        <el-table :data="tableData" border style="width: auto">
            <el-table-column prop="id" label="Id" style="width: auto">
            </el-table-column>
            <el-table-column prop="name" label="姓名" style="width: auto">
            </el-table-column>
            <el-table-column prop="age" label="年龄" style="width: auto">
            </el-table-column>
            <el-table-column prop="sex" label="性别" style="width: auto">
            </el-table-column>
            <el-table-column  label="操作"  style="width: auto">
                <template slot-scope="scope">
                    <el-button type="text" size="small" disabled="disabled">查看</el-button>
                    <el-button type="text" size="small" @click="beforeUpdate(scope.row.name,scope.row.age,scope.row.sex,scope.row.id)">编辑</el-button>
                    <el-button type="text" size="small" @click="deleteInfo(scope.row.id)">删除</el-button>
                </template>
            </el-table-column>

        </el-table>
    </template>
    <p></p>
    <!--<el-button style="width: auto" @click="showAllInfo">get请求</el-button>-->

    <!-- Form -->
    <el-dialog title="编辑中" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="姓名:" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off" ></el-input>
            </el-form-item>
            <el-form-item label="年龄:" :label-width="formLabelWidth" >
                <el-input v-model="form.age" autocomplete="off" disabled="disabled"></el-input>
            </el-form-item>
            <el-form-item label="性别:" :label-width="formLabelWidth" >
                <el-input v-model="form.sex" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="updateInfo()">修 改</el-button>
        </div>
    </el-dialog>
</div>






</body>

<script>


    var temp =new Vue({
        el:'#app',
        data:{
            currID:'',
            inName:'',
            inAge:'',
            inSearch:'',
            inSex:'',
            tableData:[],


            dialogFormVisible:false,
            form: {
                name: '',
                sex: '',
                age: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            formLabelWidth: '50px',
        },
        created(){//当Vue创建好之后就执行show操作

            this.showAllInfo()
        },
        methods:{
            keySearch(){
                if(this.inSearch==='')return this.showAllInfo()
                this.$http.get('http://localhost:8080/girl/girls/findName/'+this.inSearch).then(function (Sroucedata) {
                    this.tableData = Sroucedata.body
                })
            },
            showAllInfo(){
                this.$http.get('http://127.0.0.1:8080/girl/girls').then(function (result) {
                this.tableData = result.body
                    // console.log(result)
                })
            },
            addInfo(){
                if(this.inName==='')return this.$message({message: '姓名不能为空',type:'error',duration:1000})
                if(this.inAge==='')return this.$message({message: '年龄不能为空',type:'error',duration:1000})
                if(this.inSex==='')return this.$message({message: '性别不能为空',type:'error',duration:1000})
                this.$http.post('http://127.0.0.1:8080/girl/girls',{age:this.inAge,name:this.inName,sex: this.inSex},{emulateJSON:true})
                    .then(result => {
                        this.showAllInfo()
                        this.$message({message: '添加成功',type: 'success',duration:1000});
                    })
                this.inName ='',this.inAge='',this.inSex=''

            },
            beforeUpdate(oldname,oldage,oldsex,myid){//点击编辑之后，出现个人可编辑信息
                this.dialogFormVisible = true
                this.form.name=oldname,this.form.age=oldage,this.form.sex=oldsex
                this.currID=myid

            },
            //post请求一定注意加{emulateJSON:true}
            updateInfo(){
                // console.log(this.currID) 获取当前beforeUpdata的ID
                this.$http.post('http://127.0.0.1:8080/girl/girls/update/'+this.currID,{age:this.form.age,name:this.form.name,sex: this.form.sex},{emulateJSON:true}).then(aa => {
                    this.dialogFormVisible = false
                    this.showAllInfo()
                    return this.$message({message: '修改成功',type: 'success',duration:1000});
                })
                return this.$message({message: '修改失败',type: 'error',duration:1000});
            },
            deleteInfo(myid){
                console.log(myid)
                this.$http.get('http://127.0.0.1:8080/girl/girls/del/'+myid).then(aa => {
                    this.showAllInfo()
                    return this.$message({message: '删除成功',type: 'success',duration:1000});
                })
                return this.$message({message: '删除失败',type:'error',duration:1000})

            },

        }
    })

</script>
</html>