<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>

<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.4.8/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<body>


<div id="app">

    姓名：<el-input v-model="inName" placeholder="请输入姓名" style="width: auto"@keyup.enter.native="add"  clearable ></el-input>
    年龄：<el-input v-model="inAge" placeholder="请输入年龄" @keydown.enter.native="add" style="width: auto" clearable></el-input>
    性别：<el-input v-model="inGender" placeholder="请输入性别" @keydown.enter.native="add" style="width: auto" clearable></el-input>
    <el-button style="width: auto" @click="add" >添加</el-button> &nbsp;&nbsp;
    搜索关键字：<el-input v-model="inSearch" placeholder="请输入内容" style="width: auto" clearable @change="keySearch"></el-input>
    <p></p>

    <template>
        <el-table :data="tableData" border style="width: auto">
            <el-table-column prop="id" label="Id" style="width: auto">
            </el-table-column>
            <el-table-column prop="age" label="年龄" style="width: auto">
            </el-table-column>
            <el-table-column prop="name" label="姓名" style="width: auto">
            </el-table-column>
            <el-table-column prop="gender" label="性别" style="width: auto">
            </el-table-column>
            <el-table-column  label="操作"  style="width: auto">
                <template slot-scope="scope">
                    <el-button type="text" size="small" disabled="disabled">查看</el-button>
                    <el-button type="text" size="small" disabled="disabled">编辑</el-button>
                    <el-button type="text" size="small" @click="del(scope.row.userId)">删除</el-button>
                </template>
            </el-table-column>

        </el-table>
    </template>
    <p></p>
    <!--<el-button style="width: auto" @click="showAllInfo">get请求</el-button>-->

</div>






</body>

<script>


    var temp =new Vue({
        el:'#app',
        data:{
            inName:'',
            inAge:'',
            inSearch:'',
            inGender:'',
            tableData: [],

        },
        methods:{
            del(myid){
                console.log(myid)
                var myindex = this.tableData.findIndex(item => {
                    if(item.id === myid)return true;
                })
                this.tableData.splice(myindex,1)
            },
            add(){
                if(this.inName==='')return this.$message.error('姓名不能为空')
                if(this.inAge==='')return this.$message.error('年龄不能为空')
                if(this.inGender==='')return this.$message.error('性别不能为空')
                // console.log(this.inName+'-----'+this.inAddress)
                // console.log(this.tableData.length)
                this.tableData.unshift({id:this.tableData.length+1,age:this.inAge,name:this.inName,gender:this.inGender})
                this.inName='',this.inAge=''
            },
            keySearch(){

                const oldtabledata = this.tableData
                console.log(oldtabledata)

                return this.tableData = oldtabledata.filter(item => {
                    // ~item.name.indexof(this.inSearch)

                    if(item.name.includes(this.inSearch)) {
                        this.tableData = item
                        return item
                    }

                })

            },


        }
    })

</script>
</html>